
<p></p> <p></p> 
<p></p> <p></p> 
<p></p> 
<p></p> 
<p></p> 
<p></p> 
<footer class="footer navbar-fixed-bottom" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="text-center mb-4">
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://br.linkedin.com/in/linda-dotto-de-moraes-220407128"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i
        >Linkedin</a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/LindaMoraes"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i
        >Github</a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Linda Dotto de Moraes. © 2021 
    </div>
    <!-- Copyright -->
  </footer>